
main {
    background-color: rgb(223, 226, 226);
    font-family: sans-serif;
    margin-top: 30px;
    padding: 15px;


}

#title {
    font-size: 2.5rem;
}


#img-div {
 background-color: white;
 width: 100%;
 margin-left: auto;
margin-right: auto;

}

h1, #undertitle, h3, #tribute-info, #h3-link, #img-caption {
    text-align: center;

}

img {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
}
#img-caption {
    margin-top: 20px;
    padding-bottom: 30px;
}

#info-div {
    text-align: left;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
}

 ul {
    width: 60%;
    margin: 0 auto 50px auto;
    line-height: 1.6;
    text-align: left;
   
}

#tribute-info {
    padding-top: 30px;
    padding-bottom: 30px;
}
/* li {
    display: inline;
    margin: 0;
    padding: 0;
} */
